core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
inputs/cherry_leaves_dataset/cherry_leaves_images/test/healthy/*
inputs/cherry_leaves_dataset/cherry_leaves_images/test/powdery_mildew/*
inputs/cherry_leaves_dataset/cherry_leaves_images/train/healthy/*
inputs/cherry_leaves_dataset/cherry_leaves_images/train/powdery_mildew/*