inputs/cherry_leaves_dataset/cherry_leaves_images/test/*
inputs/cherry_leaves_dataset/cherry_leaves_images/train/*
core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
